{% extends 'base.html.twig' %}

{% block title %}Discord Check{% endblock %}

{% block body %}

    <body class="body-check">

    <main class="home-main">
        <div class="home-title">
            <h1>Mes revenus</h1>
        </div>
    </main>

    </body>

{% endblock %}
