{% extends 'base.html.twig' %}

{% block title %}Discord Check{% endblock %}

{% block body %}

    <body class="body-check">

    <main class="home-main">
        <div class="home-title">
            <h1>Connexion en cours...</h1>
        </div>
    </main>

    {% block javascripts %}
        {{ encore_entry_script_tags('check') }}
    {% endblock %}

    </body>

{% endblock %}
